
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px; 
    background: #C89E44;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

.level {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Default for desktop */
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: ;
    margin: auto;
    padding: 0.1em 8em;
    color: white;
    gap:4em;
}

button {
    width: 15em;
    background-color: #C89E44;
    border: 1px solid whitesmoke;
    border-radius: 5%;
    
    color: white;
    height: 6em;
    font-size: 1.2em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            
}

.start {
    display: flex;
    justify-content: center;
    margin:4em;
    font-style:white;
}


.options {
    display: flex;
    flex-direction: column; /* Stack options vertically */
    gap: 10px; /* Space between options */
}

label {
    display: flex; /* Align checkbox and text in a row */
    align-items: center; /* Center checkbox and text vertically */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.checkbox {
    margin-right: 10px; /* Space between checkbox and text */
    cursor: pointer; /* Change cursor to pointer on hover */
}



a{
    color: white;
}
/*************** Mobile Styles **************** */
@media (max-width: 768px) {
    body {
        font-size: 16px; 
    }

    .level {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    button {
        width: 100%; 
        height: 4em; 
        font-size: 1em; 
    }
}

.quizm{
    padding: 0 8em;
}

/*************** Desktop Styles **************** */
@media (min-width: 1024px) {
    .level {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    button {
        width: 15em; 
        height: 6em; 
        font-size: 1.2em;
    }
.item3{
    display:flex;
    flex-direction: column;
    gap:2em;
}
.submit2{
       width: 20%; 
       height: 4em; 
       font-size: 1em; 
}

}

}
